.main {
    background: url(/img/fundo-main.webp) no-repeat center center;
    background-size: cover;
    padding: 100px 10px;
    padding-bottom: 350px;
}
.main-grid h1 {
    font-size: 5.375rem;
    text-transform: uppercase;
    line-height: .9em;
    color: #fff;
    font-weight: 300;
}
.main-grid h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
}
.main-grid h1 strong {
    font-weight: 400;
}
.main-grid a {
    margin-top: 50px;
}

@media only screen and (max-width:600px) {

    .main-grid h1 {
        font-size: 4.8rem;
        text-transform: uppercase;
        line-height: .9em;
        color: #fff;
        font-weight: 300;
    }
    .main-grid h2 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        color: #fff;
    }
    .main {
        background: url(/img/mobile.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 10px;
        padding-bottom: 350px;
    }
}